@import '../../../styles/themify';


.input-container {
  &_input {
    font-family: 'Inter';
    width: 100%;
    border: 0.12em solid rgba(17, 35, 68, 0.5);
    border-radius: 0.32em;
    padding: 1em;
    font-weight: 400;
    font-size: 0.9em;
    color: #5F5F5F;
    outline: none;
  }

  &_helper-text-container {
    margin-top: 0.5em;
    color: red;
  }
}
