@import '../../../styles/themify';


.textarea {
  font-family: 'Inter';
  width: 100%;
  border: 0.12em solid rgba(17, 35, 68, 0.5);
  border-radius: 0.32em;
  padding: 1em;
  font-weight: 400;
  font-size: 0.9em;
  color: #5F5F5F;
  outline: none;
  resize: none;
  height: 10em;
}
