@import '../../../../styles/themify';

.process-form {
  width: 85%; 

  .process-form-text {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4em;
    color: #5F5F5F;
    margin: 2em 0;
  }

  .process-form-error-container {
    margin: 1em 0;
    color: red;
  }
  
  .process-form-btn-container {
    width: 100%;
    position: absolute;
    bottom: 6em;
  }
}
