@import '../../../styles/themify';


.card {
  width: 100%;
  max-width: 35em;
  min-width: 35em;
  border-radius: 0.4em;
  position: relative;

  &_rect {
    width: 100%;
    z-index: 1;
    position: relative;
  }

  &_content {
    width: 81%;
    height: 73%;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
  }

  &_back {
    width: 87%;
    height: 65%;
    background: #375589;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -67%);
    border-radius: 0.6em;
    z-index: 0;
  }

  &_header {
    display: flex;
    justify-content: space-between;
  }

  &_text {
    width: 75%;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 1.1em;
    line-height: 2em;
    color: #666666;
    z-index: 2;
    margin-top: 2.9em;
  }

  &_btn-img {
    width: 2em;
  }
}
